@{
    Layout = null;
    var columnList = ViewData["ColumnList"] as List<Cactus.Model.CMS.Column>;
    var user = ViewData["LoginUser"] as Cactus.Model.Sys.User;
}

<div class="tool-list">
    <div class="pure-button-group">
        @*<a href="javascript:;" onclick="Admin.loadContent_Jq('main-content', '/Admin/Blog/BlogIndex');" class="pure-button pure-button-primary pure-split">返回</a>*@
        <a href="javascript:;" onclick="Admin.loadBackPage('main-content');" class="pure-button pure-button-primary pure-split">返回</a>
        <a href="javascript:;" name="edit_mode" class="pure-button pure-button-primary pure-split">编辑模式</a>
    </div>
</div>
@if (columnList != null && columnList.Count > 0)
{

    <form class="pure-form  pure-form-aligned" id="blogAdd">
        <fieldset>
            <legend>添加文章</legend>
            <div class="pure-control-group">
                <label>标题</label>
                <input name="Title" type="text" value="" placeholder="标题" />
                <div class="pure-error pure-c-error" name="Title"></div>
            </div>
            <div class="pure-control-group">
                <label>作者</label>
                <input name="Author" type="text" value="@user.NickName" placeholder="作者" disabled />
                <div class="pure-error pure-c-error" name="Author"></div>
            </div>
            <div class="pure-control-group">
                <label>标签</label>
                <input type="button" class="pure-button pure-button-primary" name="openTagList" value="添加标签" />
                <input type="hidden" name="tagList" value="" />
                <div id="tag_list" style="display: inline-block;vertical-align: middle;">
                </div>
                <div id="tagList" style="display:none;margin-left: 11em; margin-top:5px;">
                    <table class="pure-table pure-table-bordered table-p" id="tagTable"></table>
                    <ul class="pure-paginator" id="table_paginator"></ul>
                </div>
            </div>
            <div class="pure-control-group">
                <label>内容</label>
                <div style="width:650px;display: inline-block;vertical-align: middle;">
                    <div id="myeditor" style="height:400px;max-height:500px;"></div>
                </div>
                <div class="pure-error pure-c-error" name="ArticleContent"></div>
            </div>
            <div class="pure-control-group">
                <label>类目</label>
                <select name="ColumnList">
                    @foreach (var col in columnList)
                    {
                        <option value="@col.Column_Id">@col.ColumnName</option>
                    }
                </select>
            </div>
            <div class="pure-control-group">
                <label>是否显示</label>
                <select name="IsShow">
                    <option value="true" selected>是</option>
                    <option value="false">否</option>
                </select>
            </div>
            <div class="pure-control-group">
                <label>是否置顶</label>
                <select name="IsTop">
                    <option value="false" selected>否</option>
                    <option value="true">是</option>
                </select>
            </div>
            <div class="pure-controls">
                <button type="button" class="pure-button pure-button-primary" name="blogadd">添加</button>
            </div>
        </fieldset>
    </form>

    <script type="text/javascript">
        var editor;
        function editorSender() {
            // 阻止输出log
            wangEditor.config.printLog = false;
            if (editor != undefined) { editor.destroy(); }
            editor = new wangEditor('myeditor');
            // 上传图片
            editor.config.uploadImgUrl = '/Admin/Blog/UploadImg';
            // 全屏时的 z-index
            editor.config.zindex = 1000;
            // 语言
            editor.config.lang = wangEditor.langs['zh-cn'];
            editor.create();
        }
        function removeTag(id,obj) {
            console.log(obj);
            $(obj).parent().remove();
            var ids = $('#blogAdd input[name=tagList]').val();
            var str_ids = ids.split(',');
            var str_arr = new Array();
            for (var i = 0; i < str_ids.length ; i++) {
                if (str_ids[i] != id) {
                    str_arr.push(str_ids[i]);
                }
            }
            ids = "";
            for (var i = 0; i < str_arr.length ; i++) {
                if (i == 0) {
                    ids += str_arr[i];
                } else {
                    ids += ',' + str_arr[i];
                }
            }
            $('#blogAdd input[name=tagList]').val(ids);
        }
        $(function () {
            function onPaginator(p) {
                bindFunc();
                $('#table_paginator').pure_paginator({
                    spacerNum: 2,
                    prevStr: '上一页',
                    nextStr: '下一页',
                    countStr: '共{count}页',
                    count: p.PageCount,
                    inPage: p.PageIndex,
                    onPage: function (index) {
                        TagList(index);
                    }
                });
            }
            function bindFunc() {
                $('#tagTable a[name=affix]').bind('click', function () {
                    var $target = $(this);
                    var id = $target.attr('data-value');
                    var tagName=$($target.parent().parent().find('td')[1]).html();
                    var ids = $('#blogAdd input[name=tagList]').val();
                    var str_ids = ids.split(',');
                    var str_arr = new Array();

                    for (var i = 0;i<str_ids.length ; i++) {
                        if (str_ids[i] != id) {
                            str_arr.push(str_ids[i]);
                        } else {
                            layer.tips('已经贴上', $target);
                            return;
                        }
                    }
                    var tag_temp = '<span class="pure-tag">{name}<a href="javascript:;" onclick="removeTag(\'{id}\',this)"><i class="fa fa-times"></i></a></span>';
                    tag_temp = tag_temp.replace('{name}', tagName).replace('{id}', id);
                    $('#tag_list').append(tag_temp);
                    //
                    ids = '';
                    for (var i = 0; i < str_arr.length ; i++) {
                        if (i==0) {
                            ids += str_arr[i];
                        } else {
                            ids += ',' + str_arr[i];
                        }
                    }
                    if (ids == '') {
                        ids += id;
                    } else {
                        ids += ',' + id;
                    }
                    $('#blogAdd input[name=tagList]').val(ids);
                });
            }
            function TagList(index) {
                $.ajax({
                    url: "/Admin/Blog/TagList",
                    type: "post",
                    data: { page: index },
                    success: function (obj) {
                        if (obj.pass) {
                            Admin.renderTable($('#tagTable'), obj.rows, [
                                { field: "Tag_Id", title: "#" },
                                { field: "TagName", title: "标签名" },
                                {
                                    field: "Tag_Id", title: "操作", formatter: function (val, rec, row) {
                                        var str = '<a href="javascript:;" class="pure-link pure-link-purple" name="affix" data-value="' + val + '">贴上</a>';
                                        return str;
                                    }
                                }]);
                            onPaginator(obj.pagination);
                        } else {
                            layer.alert(obj.msg)
                        }
                    }
                });
            }
            TagList(1);
            editorSender();

            $('a[name=edit_mode]').bind('click', (function () {
                if ($('a[name=edit_mode]').html() == "编辑模式") {
                    $("#menu-tree").hide();
                    $("#nav").hide();
                    $(".left-layout").hide();
                    var _vanish = 'padding: 0;margin-left:0;top:0;left:0;position:absolute;width: 100%;';
                    $("#main-content").attr("style", _vanish);
                    $('a[name=edit_mode]').html("常规模式");
                } else {
                    $("#menu-tree").show();
                    $("#nav").show();
                    $(".left-layout").show();
                    $("#main-content").attr("style", "");
                    $('a[name=edit_mode]').html("编辑模式");
                }
            }));

            $("#blogAdd button[name=blogadd]").bind('click', function () {
                var Title = $("#blogAdd input[name=Title]").val();
                if (Title == '' || Title == undefined) {
                    $('#blogAdd div[name=Title]').html('请填写标题'); return;
                } else {
                    $('#blogAdd div[name=Title]').html('');
                }
                var Author = $("#blogAdd input[name=Author]").val();

                var Content = Utils.HtmlEncode(editor.$txt.html());
                if (Content == '' || Content == undefined) {
                    $('#blogAdd div[name=Content]').html('请填写内容'); return;
                } else {
                    $('#blogAdd div[name=Content]').html('');
                }
                var Column = $("#blogAdd select[name=ColumnList]").val();
                if (Column == '' || Column == undefined) {
                    $('#blogAdd div[name=ColumnList]').html('请选择栏目'); return;
                } else {
                    $('#blogAdd div[name=ColumnList]').html('');
                }
                var IsShow = $("#blogAdd select[name=IsShow]").val();

                var IsTop = $("#blogAdd select[name=IsTop]").val();

                var $pure_tag = $("#tag_list").find('.pure-tag');
                var tagNames = "";
                for (var i = 0; i < $pure_tag.length; i++) {
                    if (i == 0) {
                        tagNames += $pure_tag.eq(i).text();
                    } else {
                        tagNames += ',' + $pure_tag.eq(i).text();
                    }
                }

                var Tags = tagNames;
                var TagIds = $('#blogAdd input[name=tagList]').val();

                $.ajax({
                    url: "/Admin/Blog/BlogAdd",
                    type: "post",
                    data: { ColumnId: Column, Author: Author, ArticleContent: Content, IsTop: IsTop, IsShow: IsShow, Title: Title, Tags: Tags, TagIds: TagIds },
                    success: function (obj) {
                        if (obj.pass) {
                            Admin.loadBackPage('main-content');
                        } else {
                            layer.alert(obj.msg)
                        }
                    }
                });
            });

            $('#blogAdd input[name=openTagList]').on('click', function () {
                console.log($('#tagList').is(":hidden"))
                if ($('#tagList').is(":hidden") == true) {

                    $('#tagList').show();
                } else {
                    $('#tagList').hide();
                }
            });
        });

    </script>
}
else
{

    <div>没有类目，请先添加类目</div>
}