@{
    Layout = null;
}
<label>生成静态</label>
<div class="tool-list">
    <div class="pure-button-group">
        <a href="javascript:;" onclick="Admin.loadBackPage('main-content');" class="pure-button pure-button-primary pure-split">返回</a>
        <a href="javascript:;" onclick="Admin.loadBackPage('main-content');" class="pure-button pure-button-primary pure-split">添加</a>
    </div>
</div>

<table class="pure-table pure-table-horizontal table-p">
    <thead>
        <tr>
            <th>视图名称</th>
            <th>规则路径</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="pure-form">
                    <input type="text" placeholder="text input">
                </div>
            </td>
            <td>
                <div class="pure-form">
                    <input type="text" placeholder="text input">
                </div>
            </td>
            <td>
                <a href="javascript:;" class="pure-link pure-link-purple" name="render">生成静态</a>
            </td>
        </tr>
    </tbody>
</table>