@{
    Layout = null;
}

<div class="tool-list">
    <label>添加标签</label>
    <div class="pure-button-group">
        <a href="javascript:;" onclick="Admin.loadBackPage('main-content');" class="pure-button pure-button-primary"><i class="fa fa-reply"></i>返回</a>
    </div>
</div>
<form class="pure-form  pure-form-aligned" id="p_tagAdd">
   
        <div class="pure-control-group">
            <label>标签名</label>
            <input name="TagName" type="text" value="" placeholder="标签名" />
            <div class="pure-error pure-c-error msg-box" for="TagName"></div>
        </div>
        <div class="pure-control-group">
            <label>标签描述</label>
            <textarea rows="5" cols="20" name="TagDes" placeholder="标签描述" style="resize: none;"></textarea>
            <div class="pure-error pure-c-error msg-box" for="TagDes"></div>
        </div>
        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">添加</button>
        </div>
</form>
<script>
    $(function () {
        $('#p_tagAdd').validator({
            msgWrapper: 'div',
            fields: {
                'TagName': 'required'
            },
            valid: function (form) {
                Admin.loadDialog_show();
                var param = $(form).serialize();
                $.ajax({
                    url: "/Admin/Blog/TagAdd",
                    type: "post",
                    data: param,
                    success: function (obj) {
                        Admin.loadDialog_hide();
                        layer.alert(obj.msg)
                        Admin.loadBackPage('main-content');
                    }
                });
            }
        });
    });
</script>
