@{
    Layout = null;
}

<div class="tool-list">
    <div class="pure-button-group">
        <a href="javascript:;" onclick="Admin.loadContent_Jq('main-content', '/Admin/Blog/TagAdd');" class="pure-button pure-button-primary">添加标签</a>
    </div>
</div>
<table width="100%" class="pure-table table-p" id="tag"></table>
<ul class="pure-paginator" id="table_paginator"></ul>
<script type="text/javascript">
    function onTable(index) {
        Admin.tipTable($('#tag'), '数据加载中...');
        $.ajax({
            url: "/Admin/Blog/TagList",
            type: "post",
            data: { page: index },
            success: function (obj) {
                if (obj.pass) {
                    Admin.renderTable($('#tag'), obj.rows, [
                        { field: "Tag_Id", title: "#" },
                        { field: "TagName", title: "标签名" },
                        { field: "TagDes", title: "标签描述" },
                        { field: "CreateTime", title: "创建时间" },
                        { field: "LastTime", title: "最后编辑时间" },
                        {
                            field: "Tag_Id", title: "操作", formatter: function (val, rec, row) {
                                var str = '<a href="javascript:;" class="pure-link pure-link-default" name="upd" data-value="' + val + '">编辑</a>' +
                                    '<a href="javascript:;" class="pure-link pure-link-default" name="del" data-value="' + val + '">删除</a>';

                            return str;
                        } }]);
                    onPaginator(obj.pagination);
                } else {
                    layer.alert(obj.msg)
                }
            }
        });
    }

    function onPaginator(p) {
        bindFunc();
        $('#table_paginator').pure_paginator({
            spacerNum: 2,
            prevStr: '上一页',
            nextStr: '下一页',
            countStr: '共{count}页',
            count: p.PageCount,
            inPage: p.PageIndex,
            onPage: function (index) {
                onTable(index);
            }
        });
    }
    //操作绑定
    function bindFunc(){
        $('#tag a[name=upd]').bind('click', function () {
            var $target=$(this);
            var id= $target.attr('data-value');
            Admin.loadContent_Jq('main-content', '/Admin/Blog/TagUpdate?id=' + id);
        });

        $('#tag a[name=del]').bind('click', function () {
            var $target=$(this);
            var id = $target.attr('data-value');
            layer.confirm('确定真的删除吗？', {
                btn: ['确定', '取消']
            }, function (index) {
                Admin.loadDialog_show();
                $.ajax({
                    url: "/Admin/Blog/TagDelete",
                    type: "post",
                    data: { ids: id },
                    success: function (obj) {
                        Admin.loadDialog_hide();
                        layer.close(index);
                        if (obj.pass) {
                            $target.parent().parent().remove();
                        } else {
                            layer.alert(obj.msg);
                        }
                    }
                });
            }, function () { });
        });
    }

    $(function () {
        onTable(1);
    })
</script>
