@{
    Layout = null;
}

<div class="tool-list">
    <label>添加模板</label>
    <div class="pure-button-group">
        <a href="javascript:;" onclick="Admin.loadBackPage('main-content');" class="pure-button pure-button-primary pure-split">返回</a>
        <a href="javascript:;" onclick="Admin.loadContent_Jq('main-content', '/Admin/Blog/AloneHtmlHelper');" class="pure-button pure-button-primary pure-split">模板使用帮助</a>
    </div>
</div>
<form class="pure-form  pure-form-aligned" id="tempAdd">
        <div class="pure-control-group">
            <label>模板名</label>
            <input name="TempName" type="text" value="" placeholder="模板名(字母或者数字,不能中文)" />
            <div class="pure-error pure-c-error msg-box" for="TempName"></div>
        </div>
        <div class="pure-control-group">
            <label>模板别名</label>
            <input name="TempByname" type="text" value="" placeholder="模板别名" />
            <div class="pure-error pure-c-error msg-box" for="TempByname"></div>
        </div>
        <div class="pure-control-group">
            <label>模板参数</label>
            <textarea rows="5" name="TempParameter" value="" placeholder="模板参数" style="width: 600px;" />
            <div class="pure-error pure-c-error msg-box" for="TempParameter"></div>
        </div>
        <div class="pure-control-group">
            <label>模板内容</label>
            <textarea rows="25" name="TempContent" value="" placeholder="模板内容" style="width: 600px;height: 450px;overflow: auto;" rows="2" cols="20" />
            <div class="pure-error pure-c-error msg-box" for="TempContent"></div>
        </div>

        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">添加</button>
        </div>
</form>

<script type="text/javascript">
    $(function () {
        $('#tempAdd').validator({
            msgWrapper: 'div',
            fields: {
                'TempName': 'required',
                'TempByname': 'required',
                'TempParameter': 'required',
                'TempContent': 'required'
            },
            valid: function (form) {
                Admin.loadDialog_show();
                var param = $(form).serialize();
                $.ajax({
                    url: "/Admin/Blog/TemplateAdd",
                    type: "post",
                    data: param,
                    success: function (obj) {
                        Admin.loadDialog_hide();
                        layer.alert(obj.msg)
                        Admin.loadBackPage('main-content');
                    }
                });
            }
        });
    });
</script>


