@{
    Layout = null;
    var filePath=ViewData["filePath"] as string;
    var fileName=ViewData["fileName"] as string;
    var dir = ViewData["dir"] as string;
}
<div class="tool-list">
    <label>视图编辑</label>
    <div class="pure-button-group">
        <a href="javascript:;" onclick="Admin.loadBackPage('main-content');" class="pure-button pure-button-primary"><i class="fa fa-reply"></i>返回</a>
    </div>
</div>
<form class="pure-form  pure-form-aligned" id="EditUI">
    <input type="hidden" name="dir" value="@(dir)" />
        <div class="pure-control-group">
            <label>视图名</label>
            <input name="filename" type="text" value="@fileName" disabled style="color:black;" />
        </div>
        <div class="pure-control-group">
            <label>视图内容</label>
            <textarea name="Content" placeholder="模板内容" style="width: 900px;height: 550px;overflow: auto;" rows="2" cols="20">@(System.IO.File.ReadAllText(filePath))</textarea>
            <div class="pure-error pure-c-error msg-box" for="Content"></div>
        </div>

        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">更新</button>
        </div>
</form>
<script type="text/javascript">
    $(function () {
        $('#EditUI').validator({
            msgWrapper: 'div',
            fields: {
                'Content': 'required'
            },
            valid: function (form) {
                Admin.loadDialog_show();
                var param = $(form).serialize();
                $.ajax({
                    url: "/Admin/Blog/UISave",
                    type: "post",
                    data: param,
                    success: function (obj) {
                        Admin.loadDialog_hide();
                        layer.alert(obj.msg)
                        Admin.loadBackPage('main-content');
                    }
                });
            }
        });
    });
</script>
