@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500</title>
    <link href="/Content/Css/error.css" rel="stylesheet" />
</head>
<body>
    <div class="context">
        <div class="error-img">
        </div>
        <span class="txt">500</span>
    </div>
</body>
</html>
