@{
    Layout = null;
    var pageturn = ViewData["Pageturn"] as Cactus.Model.Other.PageTurnModel;
}

<table width="100%" class="pure-table pure-table-horizontal" id="loglist"></table>
<ul class="pure-paginator" id="table_paginator"></ul>
<script type="text/javascript">
    $(function () {
        var m_index = 1;
        onTable(m_index);

        function onTable(index) {
            m_index = index;
            Admin.loadDialog_show();
            $.ajax({
                url: "/Admin/Sys/LogList",
                type: "post",
                data: { page: index },
                success: function (obj) {
                    Admin.loadDialog_hide();
                    if (obj.pass) {
                        Admin.renderTable($('#loglist'), obj.rows, [
                            { field: "Log_Id", title: "#" },
                            { field: "UserName", title: "操作者" },
                            { field: "LogInfo", title: "操作日志" },
                            { field: "AddTime", title: "创建时间" },
                            { field: "Log_Id", title: "操作", formatter: function (val, rec, row) {
                                    var str = '<a href="javascript:;" class="pure-link pure-link-default" name="del" data-value="' + val + '">删除</a>';
                                    return str;
                                }
                            }]);
                        //
                        onPaginator(obj.pagination);
                    } else {
                        layer.alert(obj.msg)
                    }
                }
            });
        }

        function onPaginator(p) {
            bindFunc();
            $('#table_paginator').pure_paginator({
                spacerNum: 2,
                prevStr: '上一页',
                nextStr: '下一页',
                countStr: '共{count}页',
                count: p.PageCount,
                inPage: p.PageIndex,
                onPage: function (index) {
                    onTable(index);
                }
            });
        }

        function bindFunc() {
            //删除
            $('#loglist a[name=del]').bind('click', function () {
                var id = $(this).attr('data-value');
                layer.confirm('是否删除？', {
                    btn: ['确定', '取消']
                }, function (index) {
                    Admin.loadDialog_show();
                    $.ajax({
                        url: "/Admin/Sys/LogDelete",
                        type: "post",
                        data: { id: id },
                        success: function (obj) {
                            Admin.loadDialog_hide();
                            layer.close(index);
                            Admin.loadDialog_hide();
                            if (obj.pass) {
                                onTable(m_index);
                            } else {
                                layer.alert(obj.msg);
                            }
                        }
                    });
                }, function () { });
            });
        }
    })
</script>

