@{
    Layout = null;
}

<div class="tool-list">
    <label>修改密码</label>
    <div class="pure-button-group">
        <a href="javascript:;" onclick="Admin.loadBackPage('main-content');" class="pure-button pure-button-primary"><i class="fa fa-reply"></i>返回</a>
    </div>
</div>
<form class="pure-form  pure-form-aligned" id="pwdForm">
        <div class="pure-control-group">
            <label>旧密码</label>
            <input name="pwded" type="password" value="" placeholder="旧密码" />
            <div class="pure-error pure-c-error msg-box" for="pwded"></div>
        </div>
        <div class="pure-control-group">
            <label>新密码</label>
            <input name="pwding" type="password" value="" placeholder="新密码" />
            <div class="pure-error pure-c-error msg-box" for="pwding"></div>
        </div>

        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">保存</button>
        </div>
</form>

<script type="text/javascript">
    $(function () {
        $('#pwdForm').validator({
            msgWrapper: 'div',
            fields: {
                'pwded': 'required',
                'pwding': 'required'
            },
            valid: function (form) {
                Admin.loadDialog_show();
                var param = $(form).serialize();
                $.ajax({
                    url: "/Admin/Root/CenterAlterPwd",
                    type: "post",
                    data: param,
                    success: function (obj) {
                        Admin.loadDialog_hide();
                        if (obj.pass) {
                            Admin.loadContent_Jq('main-content', '/Admin/Root/Logout');
                        } else {
                            layer.alert(obj.msg)
                        }
                    }
                });
            }
        });

    })
</script>
