<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!-- 是否开启路由调试 -->
  <add key="RouteDebugger:Enabled" value="false" />
  <!-- 服务默认超时时间 -->
  <add key="DefaultTimeout" value="5000"/>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
