<?xml version="1.0" encoding="utf-8"?>
<autofac>
  <components>
<!--数据源-->    
<!--MSSQLService MySQLService SQLiteService PostgreSQLService-->
<!--数据格式如下，开头代表数据来源然后是对应的服务名，可以同时配置多个数据库,同时使用多个数据库-->
<!--
    <component name="MSSQL.SiteConfigService" type="Cactus.MSSQLService.SiteConfigService, Cactus.MSSQLService" service="Cactus.IService.ISiteConfigService,Cactus.IService" />
    <component name="PGSQL.SiteConfigService" type="Cactus.PostgreSQLService.SiteConfigService, Cactus.PostgreSQLService" service="Cactus.IService.ISiteConfigService,Cactus.IService" />
    <component name="MySQL.SiteConfigService" type="Cactus.MySQLService.SiteConfigService, Cactus.MySQLService" service="Cactus.IService.ISiteConfigService,Cactus.IService" />
-->
    <component name="MyType.CacheService" type="Cactus.BaseService.CacheService, Cactus.BaseService" service="HTools.ICacheService, HTools" />
    <component name="MyType.SiteConfigService" type="Cactus.BaseService.SiteConfigService, Cactus.BaseService" service="Cactus.IService.ISiteConfigService,Cactus.IService" />
    <component name="MyType.PowerConfigService" type="Cactus.BaseService.PowerConfigService, Cactus.BaseService" service="Cactus.IService.IPowerConfigService,Cactus.IService" />
    <component name="MyType.PathConfigService" type="Cactus.BaseService.PathConfigService, Cactus.BaseService" service="Cactus.IService.IPathConfigService,Cactus.IService" />
    <component name="MyType.RoleServer" type="Cactus.SQLiteService.RoleServer, Cactus.SQLiteService" service="Cactus.IService.IRoleServer,Cactus.IService" />
    <component name="MyType.UserServer" type="Cactus.SQLiteService.UserServer, Cactus.SQLiteService" service="Cactus.IService.IUserServer,Cactus.IService" />
    <component name="MyType.CMS.BlogConfigService" type="Cactus.BaseService.CMS.BlogConfigService, Cactus.BaseService" service="Cactus.IService.CMS.IBlogConfigService,Cactus.IService" />
    <component name="MyType.CMS.ThemeConfigService" type="Cactus.BaseService.CMS.ThemeConfigService, Cactus.BaseService" service="Cactus.IService.CMS.IThemeConfigService,Cactus.IService" />
    <component name="MyType.CMS.ArticleService" type="Cactus.SQLiteService.CMS.ArticleService, Cactus.SQLiteService" service="Cactus.IService.CMS.IArticleService,Cactus.IService" />
    <component name="MyType.CMS.ColumnService" type="Cactus.SQLiteService.CMS.ColumnService, Cactus.SQLiteService" service="Cactus.IService.CMS.IColumnService,Cactus.IService" />
    <component name="MyType.CMS.StaticPageService" type="Cactus.SQLiteService.CMS.StaticPageService, Cactus.SQLiteService" service="Cactus.IService.CMS.IStaticPageService,Cactus.IService" />
    <component name="MyType.CMS.TempPageService" type="Cactus.SQLiteService.CMS.TempPageService, Cactus.SQLiteService" service="Cactus.IService.CMS.ITempPageService,Cactus.IService" />
    <component name="MyType.CMS.TagService" type="Cactus.SQLiteService.CMS.TagService, Cactus.SQLiteService" service="Cactus.IService.CMS.ITagService,Cactus.IService" />
    <component name="MyType.CMS.CommentService" type="Cactus.SQLiteService.CMS.CommentService, Cactus.SQLiteService" service="Cactus.IService.CMS.ICommentService,Cactus.IService" />
    <component name="MyType.CMS.ArticleMapService" type="Cactus.SQLiteService.CMS.ArticleMapService, Cactus.SQLiteService" service="Cactus.IService.CMS.IArticleMapService,Cactus.IService" />
    <component name="MyType.CMS.CommentMapService" type="Cactus.SQLiteService.CMS.CommentMapService, Cactus.SQLiteService" service="Cactus.IService.CMS.ICommentMapService,Cactus.IService" />
    <component name="MyType.Store.CategoryService" type="Cactus.SQLiteService.Store.CategoryService, Cactus.SQLiteService" service="Cactus.IService.Store.ICategoryService,Cactus.IService" />
    <component name="MyType.Store.CommodityService" type="Cactus.SQLiteService.Store.CommodityService, Cactus.SQLiteService" service="Cactus.IService.Store.ICommodityService,Cactus.IService" />
    <component name="MyType.Store.CustomerService" type="Cactus.SQLiteService.Store.CustomerService, Cactus.SQLiteService" service="Cactus.IService.Store.ICustomerService,Cactus.IService" />
    <component name="MyType.Store.OrderDetailService" type="Cactus.SQLiteService.Store.OrderDetailService, Cactus.SQLiteService" service="Cactus.IService.Store.IOrderDetailService,Cactus.IService" />
    <component name="MyType.Store.OrderService" type="Cactus.SQLiteService.Store.OrderService, Cactus.SQLiteService" service="Cactus.IService.Store.IOrderService,Cactus.IService" />
    <component name="MyType.Store.StaffService" type="Cactus.SQLiteService.Store.StaffService, Cactus.SQLiteService" service="Cactus.IService.Store.IStaffService,Cactus.IService" />
    <component name="MyType.Store.StoreInfoService" type="Cactus.SQLiteService.Store.StoreInfoService, Cactus.SQLiteService" service="Cactus.IService.Store.IStoreInfoService,Cactus.IService" />
  </components>
</autofac>
