<?xml version="1.0"?>
<sitepath xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" WebSeparatorChar="/">
  <dic>
    <SerializableDictionary>
      <key>
        <string>sys</string>
      </key>
      <value>
        <path Name="sys" DirPath="\Upload\Sys" WebPath="/Upload/Sys" Des="系统文件上传路径" FileSize="200" />
      </value>
    </SerializableDictionary>
    <SerializableDictionary>
      <key>
        <string>avatar</string>
      </key>
      <value>
        <path Name="avatar" DirPath="\Upload\Avatar" WebPath="/Upload/Avatar" Des="头像上传路径" FileSize="200" />
      </value>
    </SerializableDictionary>
    <SerializableDictionary>
      <key>
        <string>edit</string>
      </key>
      <value>
        <path Name="edit" DirPath="\Upload\Edit" WebPath="/Upload/Edit" Des="编辑器内文件上传地址" FileSize="200" />
      </value>
    </SerializableDictionary>
    <SerializableDictionary>
      <key>
        <string>file</string>
      </key>
      <value>
        <path Name="file" DirPath="\Upload\UploadFile" WebPath="/Upload/UploadFile" Des="文件系统文件上传地址" FileSize="200" />
      </value>
    </SerializableDictionary>
    <SerializableDictionary>
      <key>
        <string>Cover</string>
      </key>
      <value>
        <path Name="Cover" DirPath="\Upload\Cover" WebPath="/Upload/Cover" Des="封面图上传地址" FileSize="200" />
      </value>
    </SerializableDictionary>
    <SerializableDictionary>
      <key>
        <string>store_item</string>
      </key>
      <value>
        <path Name="store_item" DirPath="\Upload\Item" WebPath="/Upload/Item" Des="宝贝主图上传地址" FileSize="200" />
      </value>
    </SerializableDictionary>
    <SerializableDictionary>
      <key>
        <string>store_itemContent</string>
      </key>
      <value>
        <path Name="store_itemContent" DirPath="\Upload\ItemContent" WebPath="/Upload/ItemContent" Des="宝贝内容介绍上传路径" FileSize="200" />
      </value>
    </SerializableDictionary>
    
  </dic>
</sitepath>