<?xml version="1.0" encoding="utf-8"?>
<PlanConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <IsCache>true</IsCache>
  <planGroupList>
    <PlanGroup>
      <interval>300</interval>
      <planList>
        <Plan>
          <Name>DefaultBase</Name>
          <PlanType>Cactus.Crond.ThreadTask.DefaultBase,Cactus.Crond</PlanType>
          <Enabled>true</Enabled>
          <StopOnError>false</StopOnError>
        </Plan>
      </planList>
    </PlanGroup>
  </planGroupList>
</PlanConfig>

