<?xml version="1.0"?>
<PowerConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <PowerGroupList>
    <PowerGroup>
      <IsShow>true</IsShow>
      <GroupName>文章管理</GroupName>
      <NoGroupId>Blog2016</NoGroupId>
      <PowerList>
        <Power>
          <ParamStr>/Admin/Blog/BlogIndex</ParamStr>
          <PowerName>文章管理</PowerName>
          <PowerDes>文章管理</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-book</Icon>
          <NoGroupId>Blog2016</NoGroupId>
          <NoPowerId>Blog_A101</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Blog/BlogAdd</ParamStr>
          <PowerName>文章添加</PowerName>
          <PowerDes>对文章添加</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Blog2016</NoGroupId>
          <NoPowerId>Blog_A102</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Blog/BlogUpdate</ParamStr>
          <PowerName>文章修改</PowerName>
          <PowerDes>文章修改</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Blog2016</NoGroupId>
          <NoPowerId>Blog_A103</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Blog/BlogDelete</ParamStr>
          <PowerName>文章删除</PowerName>
          <PowerDes>文章删除</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Blog2016</NoGroupId>
          <NoPowerId>Blog_A104</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Blog/BlogIsTop</ParamStr>
          <PowerName>文章置顶</PowerName>
          <PowerDes>可以让文章置顶</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Blog2016</NoGroupId>
          <NoPowerId>Blog_A105</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Blog/BlogIsShow</ParamStr>
          <PowerName>文章显示</PowerName>
          <PowerDes>可以让文章显示或隐藏</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Blog2016</NoGroupId>
          <NoPowerId>Blog_A106</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Blog/BlogColumnManage</ParamStr>
          <PowerName>文章管理</PowerName>
          <PowerDes>管理文章和栏目</PowerDes>
          <IsShow>true</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Blog2016</NoGroupId>
          <NoPowerId>Blog_A107</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Blog/ColumnAdd</ParamStr>
          <PowerName>栏目添加</PowerName>
          <PowerDes>栏目添加</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Blog2016</NoGroupId>
          <NoPowerId>Blog_A108</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Blog/ColumnUpdate</ParamStr>
          <PowerName>栏目修改</PowerName>
          <PowerDes>栏目修改</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Blog2016</NoGroupId>
          <NoPowerId>Blog_A109</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Blog/ColumnDelete</ParamStr>
          <PowerName>栏目删除</PowerName>
          <PowerDes>栏目删除</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Blog2016</NoGroupId>
          <NoPowerId>Blog_A110</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Blog/UploadImg</ParamStr>
          <PowerName>编辑器上传图片</PowerName>
          <PowerDes>编辑器上传图片</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Blog2016</NoGroupId>
          <NoPowerId>Blog_B101</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Blog/FileManage</ParamStr>
          <PowerName>文件管理</PowerName>
          <PowerDes>文件管理</PowerDes>
          <IsShow>true</IsShow>
          <Icon>fa-file</Icon>
          <NoGroupId>Blog2016</NoGroupId>
          <NoPowerId>Blog_C101</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Blog/FileDel</ParamStr>
          <PowerName>文件删除</PowerName>
          <PowerDes>文件管理，文件删除</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Blog2016</NoGroupId>
          <NoPowerId>Blog_C102</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Blog/FileRename</ParamStr>
          <PowerName>文件重命名</PowerName>
          <PowerDes>文件管理，文件重命名</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Blog2016</NoGroupId>
          <NoPowerId>Blog_C103</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Blog/FileNewDir</ParamStr>
          <PowerName>新建目录</PowerName>
          <PowerDes>文件管理，新建目录</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Blog2016</NoGroupId>
          <NoPowerId>Blog_C104</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Blog/FileUpload</ParamStr>
          <PowerName>上传文件</PowerName>
          <PowerDes>文件管理，上传文件</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Blog2016</NoGroupId>
          <NoPowerId>Blog_C105</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Blog/StaticHtmlManage</ParamStr>
          <PowerName>页面管理</PowerName>
          <PowerDes>用来生成静态单页</PowerDes>
          <IsShow>true</IsShow>
          <Icon>fa-file-text</Icon>
          <NoGroupId>Blog2016</NoGroupId>
          <NoPowerId>Blog_D101</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Blog/StaticHtmlAdd</ParamStr>
          <PowerName>添加页面</PowerName>
          <PowerDes>添加页面</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Blog2016</NoGroupId>
          <NoPowerId>Blog_D102</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Blog/StaticHtmlUpdate</ParamStr>
          <PowerName>修改页面</PowerName>
          <PowerDes>修改页面</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Blog2016</NoGroupId>
          <NoPowerId>Blog_D103</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Blog/StaticHtmlDelete</ParamStr>
          <PowerName>删除页面</PowerName>
          <PowerDes>删除页面</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Blog2016</NoGroupId>
          <NoPowerId>Blog_D104</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Blog/StaticHtmlRender</ParamStr>
          <PowerName>生成页面</PowerName>
          <PowerDes>生成页面</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Blog2016</NoGroupId>
          <NoPowerId>Blog_D105</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Blog/TemplateManage</ParamStr>
          <PowerName>模板管理</PowerName>
          <PowerDes>模板管理</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Blog2016</NoGroupId>
          <NoPowerId>Blog_D106</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Blog/TemplateAdd</ParamStr>
          <PowerName>添加模板</PowerName>
          <PowerDes>添加模板</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Blog2016</NoGroupId>
          <NoPowerId>Blog_D107</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Blog/TemplateUpdate</ParamStr>
          <PowerName>更新模板</PowerName>
          <PowerDes>更新模板</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Blog2016</NoGroupId>
          <NoPowerId>Blog_D108</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Blog/TemplateDelete</ParamStr>
          <PowerName>删除模板</PowerName>
          <PowerDes>删除模板</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Blog2016</NoGroupId>
          <NoPowerId>Blog_D109</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Blog/TemplateCSHtmlRender</ParamStr>
          <PowerName>模板生成</PowerName>
          <PowerDes>模板生成</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Blog2016</NoGroupId>
          <NoPowerId>Blog_D110</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Blog/TagManage</ParamStr>
          <PowerName>标签管理</PowerName>
          <PowerDes>标签管理</PowerDes>
          <IsShow>true</IsShow>
          <Icon>fa-tag</Icon>
          <NoGroupId>Blog2016</NoGroupId>
          <NoPowerId>Blog_E101</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Blog/TagDelete</ParamStr>
          <PowerName>标签删除</PowerName>
          <PowerDes>标签删除</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Blog2016</NoGroupId>
          <NoPowerId>Blog_E102</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Blog/TagUpdate</ParamStr>
          <PowerName>更新标签</PowerName>
          <PowerDes>更新标签</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Blog2016</NoGroupId>
          <NoPowerId>Blog_E103</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Blog/TagAdd</ParamStr>
          <PowerName>添加标签</PowerName>
          <PowerDes>添加标签</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Blog2016</NoGroupId>
          <NoPowerId>Blog_E104</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Blog/CommentManage</ParamStr>
          <PowerName>评论管理</PowerName>
          <PowerDes>评论管理</PowerDes>
          <IsShow>true</IsShow>
          <Icon>fa-comment</Icon>
          <NoGroupId>Blog2016</NoGroupId>
          <NoPowerId>Blog_F101</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Blog/CommentDelete</ParamStr>
          <PowerName>评论管理</PowerName>
          <PowerDes>评论管理</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Blog2016</NoGroupId>
          <NoPowerId>Blog_F102</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Blog/ManageUI</ParamStr>
          <PowerName>界面管理</PowerName>
          <PowerDes>界面管理</PowerDes>
          <IsShow>true</IsShow>
          <Icon>fa-th-large</Icon>
          <NoGroupId>Blog2016</NoGroupId>
          <NoPowerId>Blog_G101</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Blog/UIEdit</ParamStr>
          <PowerName>编辑视图</PowerName>
          <PowerDes>编辑视图</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Blog2016</NoGroupId>
          <NoPowerId>Blog_G102</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Blog/UISave</ParamStr>
          <PowerName>保存视图</PowerName>
          <PowerDes>保存视图</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Blog2016</NoGroupId>
          <NoPowerId>Blog_G103</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Blog/UISelect</ParamStr>
          <PowerName>选择主题</PowerName>
          <PowerDes>选择主题</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Blog2016</NoGroupId>
          <NoPowerId>Blog_G104</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Blog/BlogConfig</ParamStr>
          <PowerName>博客配置</PowerName>
          <PowerDes>博客配置</PowerDes>
          <IsShow>true</IsShow>
          <Icon>fa-book</Icon>
          <NoGroupId>Blog2016</NoGroupId>
          <NoPowerId>Blog_H101</NoPowerId>
        </Power>
      </PowerList>
      <Icon>fa-file</Icon>
    </PowerGroup>
    <PowerGroup>
      <IsShow>false</IsShow>
      <GroupName>个人管理</GroupName>
      <NoGroupId>Root2016</NoGroupId>
      <PowerList>
        <Power>
          <ParamStr>/Admin/Root/ZPanel</ParamStr>
          <PowerName>首页</PowerName>
          <PowerDes>管理的首页</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Root2016</NoGroupId>
          <NoPowerId>Root_A101</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Root/CenterUser</ParamStr>
          <PowerName>个人中心</PowerName>
          <PowerDes>用户的个人中心</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Root2016</NoGroupId>
          <NoPowerId>Root_B101</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Root/CenterAlterPwd</ParamStr>
          <PowerName>修改个人密码</PowerName>
          <PowerDes>用户的个人密码修改</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Root2016</NoGroupId>
          <NoPowerId>Root_B102</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Root/CenterAlterFace</ParamStr>
          <PowerName>修改个人头像</PowerName>
          <PowerDes>用户的个人头像修改</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Root2016</NoGroupId>
          <NoPowerId>Root_B103</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Root/CenterAlterInfo</ParamStr>
          <PowerName>修改个人资料</PowerName>
          <PowerDes>用户的个人头像修改</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Root2016</NoGroupId>
          <NoPowerId>Root_B104</NoPowerId>
        </Power>
      </PowerList>
      <Icon>fa-bars</Icon>
    </PowerGroup>
    <PowerGroup>
      <IsShow>true</IsShow>
      <GroupName>商店管理</GroupName>
      <NoGroupId>Store2016</NoGroupId>
      <PowerList>
        <Power>
          <ParamStr>/Admin/Store/Index</ParamStr>
          <PowerName>店铺管理</PowerName>
          <PowerDes>店铺管理</PowerDes>
          <IsShow>true</IsShow>
          <Icon>fa-home</Icon>
          <NoGroupId>Store2016</NoGroupId>
          <NoPowerId>Store_A101</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Store/StoreAdd</ParamStr>
          <PowerName>添加店铺</PowerName>
          <PowerDes>添加店铺</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Store2016</NoGroupId>
          <NoPowerId>Store_A102</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Store/StoreUpdate</ParamStr>
          <PowerName>修改店铺</PowerName>
          <PowerDes>修改店铺</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Store2016</NoGroupId>
          <NoPowerId>Store_A103</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Store/StoreSwitch</ParamStr>
          <PowerName>店铺开关</PowerName>
          <PowerDes>店铺开关</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Store2016</NoGroupId>
          <NoPowerId>Store_A104</NoPowerId>
        </Power>
      </PowerList>
      <Icon>fa-shopping-cart</Icon>
    </PowerGroup>
    <PowerGroup>
      <IsShow>true</IsShow>
      <GroupName>系统管理</GroupName>
      <NoGroupId>Sys2016</NoGroupId>
      <PowerList>
        <Power>
          <ParamStr>/Admin/Sys/SetPower</ParamStr>
          <PowerName>权限设置</PowerName>
          <PowerDes>打开权限设置页</PowerDes>
          <IsShow>true</IsShow>
          <Icon>fa-edit</Icon>
          <NoGroupId>Sys2016</NoGroupId>
          <NoPowerId>Sys_A101</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Sys/UserAlterFace</ParamStr>
          <PowerName>修改用户头像</PowerName>
          <PowerDes>用户头像修改</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Sys2016</NoGroupId>
          <NoPowerId>Sys_B101</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Sys/UserResetPwd</ParamStr>
          <PowerName>重置用户密码</PowerName>
          <PowerDes>重置用户密码</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Sys2016</NoGroupId>
          <NoPowerId>Sys_B102</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Sys/UserAdd</ParamStr>
          <PowerName>添加用户</PowerName>
          <PowerDes>添加用户</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Sys2016</NoGroupId>
          <NoPowerId>Sys_B103</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Sys/UserUpdate</ParamStr>
          <PowerName>修改用户信息</PowerName>
          <PowerDes>修改用户信息</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Sys2016</NoGroupId>
          <NoPowerId>Sys_B104</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Sys/UserIndex</ParamStr>
          <PowerName>用户列表</PowerName>
          <PowerDes>查看用户列表</PowerDes>
          <IsShow>true</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Sys2016</NoGroupId>
          <NoPowerId>Sys_B105</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Sys/RoleAdd</ParamStr>
          <PowerName>添加角色</PowerName>
          <PowerDes>添加角色</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Sys2016</NoGroupId>
          <NoPowerId>Sys_C101</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Sys/RoleUpdate</ParamStr>
          <PowerName>更新角色信息</PowerName>
          <PowerDes>更新角色信息</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Sys2016</NoGroupId>
          <NoPowerId>Sys_C102</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Sys/RoleDelete</ParamStr>
          <PowerName>删除角色</PowerName>
          <PowerDes>删除角色</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Sys2016</NoGroupId>
          <NoPowerId>Sys_C103</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Sys/RoleList</ParamStr>
          <PowerName>角色列表</PowerName>
          <PowerDes>查看角色列表</PowerDes>
          <IsShow>true</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Sys2016</NoGroupId>
          <NoPowerId>Sys_C104</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Sys/SysIndex</ParamStr>
          <PowerName>网站设置</PowerName>
          <PowerDes>网站设置</PowerDes>
          <IsShow>true</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Sys2016</NoGroupId>
          <NoPowerId>Sys_D101</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Sys/SysImage</ParamStr>
          <PowerName>基本图片</PowerName>
          <PowerDes>网站基本图片</PowerDes>
          <IsShow>true</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Sys2016</NoGroupId>
          <NoPowerId>Sys_D102</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Sys/SysDefaultAvatar</ParamStr>
          <PowerName>上传默认头像</PowerName>
          <PowerDes>上传默认用户头像</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Sys2016</NoGroupId>
          <NoPowerId>Sys_D103</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Sys/SysSiteLogo</ParamStr>
          <PowerName>上传网站Logo</PowerName>
          <PowerDes>上传网站</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Sys2016</NoGroupId>
          <NoPowerId>Sys_D104</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Sys/CacheManage</ParamStr>
          <PowerName>网站缓存</PowerName>
          <PowerDes>网站缓存</PowerDes>
          <IsShow>true</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Sys2016</NoGroupId>
          <NoPowerId>Sys_D105</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Sys/CacheClear</ParamStr>
          <PowerName>清除网站缓存</PowerName>
          <PowerDes>清除网站缓存</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Sys2016</NoGroupId>
          <NoPowerId>Sys_D106</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Sys/LogManager</ParamStr>
          <PowerName>日志管理</PowerName>
          <PowerDes>Error日志管理</PowerDes>
          <IsShow>true</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Sys2016</NoGroupId>
          <NoPowerId>Sys_E101</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Sys/LogInfo</ParamStr>
          <PowerName>日志内容</PowerName>
          <PowerDes>日志内容</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Sys2016</NoGroupId>
          <NoPowerId>Sys_E102</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Sys/LogClear</ParamStr>
          <PowerName>清空日志</PowerName>
          <PowerDes>清空日志</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Sys2016</NoGroupId>
          <NoPowerId>Sys_E103</NoPowerId>
        </Power>
        <Power>
          <ParamStr>/Admin/Sys/LogDelete</ParamStr>
          <PowerName>删除日志</PowerName>
          <PowerDes>删除日志</PowerDes>
          <IsShow>false</IsShow>
          <Icon>fa-bars</Icon>
          <NoGroupId>Sys2016</NoGroupId>
          <NoPowerId>Sys_E104</NoPowerId>
        </Power>
      </PowerList>
      <Icon>fa-cog</Icon>
    </PowerGroup>
  </PowerGroupList>
</PowerConfig>