<?xml version="1.0"?>
<Admin xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <list>
    <PowerGroup Name="Blog" Title="文章管理" IsShow="true" Icon="fa-file">
      <module>
        <PowerModule Name="blogManage" Title="文章管理" ParamStr="/Admin/Blog/BlogIndex" IsShow="false" Icon="fa-bars" ActionType="Show,Add,Edit,Delete,Upload" />
        <PowerModule Name="columnManage" Title="栏目管理" ParamStr="/Admin/Blog/BlogColumnManage" IsShow="true" Icon="fa-bars" ActionType="Show,Add,Edit,Delete" />
        <PowerModule Name="fileManage" Title="文件管理" ParamStr="/Admin/Blog/FileManage" IsShow="true" Icon="fa-bars" ActionType="Show,Delete,Edit,Add,Upload" />
        <PowerModule Name="aloneManage" Title="单页管理" ParamStr="/Admin/Blog/AloneManage" IsShow="true" Icon="fa-bars" ActionType="Show,Add,Edit,Delete,Build" />
        <PowerModule Name="templateManage" Title="单页模板管理" ParamStr="/Admin/Blog/TemplateManage" IsShow="false" Icon="fa-bars" ActionType="Show,Add,Edit,Delete,Build" />
        <PowerModule Name="tagManage" Title="标签管理" ParamStr="/Admin/Blog/TagManage" IsShow="false" Icon="fa-bars" ActionType="Show,Edit,Add" />
        <PowerModule Name="commentManage" Title="评论管理" ParamStr="/Admin/Blog/CommentManage" IsShow="true" Icon="fa-bars" ActionType="Show,Delete" />
        <PowerModule Name="UIManage" Title="界面管理" ParamStr="/Admin/Blog/ManageUI" IsShow="true" Icon="fa-bars" ActionType="Show,Edit,Select" />
        <PowerModule Name="configManage" Title="文章配置" ParamStr="/Admin/Blog/BlogConfig" IsShow="true" Icon="fa-bars" ActionType="Show,Edit" />
      </module>
    </PowerGroup>
    <PowerGroup Name="Root" Title="个人中心" IsShow="false" Icon="fa-file">
      <module>
        <PowerModule Name="myCenter" Title="个人中心" ParamStr="/Admin/Root/Index" IsShow="false" Icon="fa-bars" ActionType="Show,Edit" />
      </module>
    </PowerGroup>
    <PowerGroup Name="Store" Title="商店管理" IsShow="true" Icon="fa-file">
      <module>
        <PowerModule Name="storeManage" Title="店铺管理" ParamStr="/Admin/Store/Index" IsShow="true" Icon="fa-bars" ActionType="Show,Add,Edit" />
      </module>
    </PowerGroup>
    <PowerGroup Name="Sys" Title="系统管理" IsShow="true" Icon="fa-file">
      <module>
        <PowerModule Name="powerManage" Title="权限查阅" ParamStr="/Admin/Sys/SetPower" IsShow="true" Icon="fa-bars" ActionType="Show,Build" />
        <PowerModule Name="userManage" Title="用户管理" ParamStr="/Admin/Sys/UserIndex" IsShow="true" Icon="fa-bars" ActionType="Show,Edit,Add,Delete" />
        <PowerModule Name="roleManage" Title="角色管理" ParamStr="/Admin/Sys/RoleList" IsShow="true" Icon="fa-bars" ActionType="Show,Add,Edit,Delete" />
        <PowerModule Name="sysManage" Title="网站参数" ParamStr="/Admin/Sys/SysIndex" IsShow="true" Icon="fa-bars" ActionType="Show,Edit" />
        <PowerModule Name="pathManage" Title="文件地址" ParamStr="/Admin/Sys/SysPath" IsShow="true" Icon="fa-bars" ActionType="Show" />
        <PowerModule Name="cacheManage" Title="缓存管理" ParamStr="/Admin/Sys/CacheManage" IsShow="true" Icon="fa-bars" ActionType="Show,Delete" />
        <PowerModule Name="logManage" Title="日志管理" ParamStr="/Admin/Sys/LogManager" IsShow="true" Icon="fa-bars" ActionType="Show,Delete" />
      </module>
    </PowerGroup>
  </list>
</Admin>