<?xml version="1.0"?>
<SiteConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <SiteName>MVCAdmin</SiteName>
  <SiteLogo>/Upload/Sys/SiteLogo.jpg</SiteLogo>
  <SiteUrl />
  <SiteCrod>测试备案号</SiteCrod>
  <SiteTitle>测试标题</SiteTitle>
  <SiteKeywords>测试关键字</SiteKeywords>
  <SiteDescr>测试描述测试描述</SiteDescr>
  <SiteCopyRight>Copyright ©2016 漫漫洒洒 QQ交流群:110826636</SiteCopyRight>
  <SiteStatus>true</SiteStatus>
  <SiteCountCode>测试统计</SiteCountCode>
  <HtmlDir>html</HtmlDir>
  <PageExtension>.html</PageExtension>
  <PageDir>pages</PageDir>
  <ImgExtensions>*.jpg*.jpeg*.gif*.bmp*.png</ImgExtensions>
  <DefaultAvatar>/Upload/Sys/DefaultAvatar.jpg</DefaultAvatar>
</SiteConfig>