<?xml version="1.0" encoding="utf-8"?>
<ThemeConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ThemeList>
    <Theme>
      <ThemeName>Default</ThemeName>
      <ThemeAnotherName>默认主题</ThemeAnotherName>
      <ThemeDes>默认主题</ThemeDes>
      <ThemeImgUrl>/Content/Theme/Default.png</ThemeImgUrl>
    </Theme>
  </ThemeList>
</ThemeConfig>
