@{
    Layout = null;
}

<div class="tool-list">
    <label>修改店铺</label>
    <div class="pure-button-group">
        <a href="javascript:;" onclick="Admin.loadBackPage('main-content');" class="pure-button pure-button-primary pure-split">返回</a>
    </div>
</div>
