@{
    Layout = "~/Themes/Default/Views/Shared/_StoreLayout.cshtml";
}

<div class="pure-u-1 pure-u-md-1 detail ">
    <div class="pure-g list-new">
        <div class="pure-u-1 pure-u-sm-1-1 pure-u-md-1-1 ">
            <div class="list-new-item">
                <div class="list-item-title">
                    <a href="#">
                        商品标题商品标题商品标题商品标题商品标题商品标题
                        <span style="float:right;">2016 08-08</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="pure-u-1 pure-u-sm-1-1 pure-u-md-1-1 ">
            <div class="list-new-item">
                <div class="list-item-title">
                    <a href="#">
                        商品标题商品标题商品标题商品标题商品标题商品标题
                        <span style="float:right;">2016 08-08</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="pure-u-1 pure-u-sm-1-1 pure-u-md-1-1 ">
            <div class="list-new-item">
                <div class="list-item-title">
                    <a href="#">
                        商品标题商品标题商品标题商品标题商品标题商品标题
                        <span style="float:right;">2016 08-08</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="pure-u-1 pure-u-sm-1-1 pure-u-md-1-1 ">
            <div class="list-new-item">
                <div class="list-item-title">
                    <a href="#">
                        商品标题商品标题商品标题商品标题商品标题商品标题
                        <span style="float:right;">2016 08-08</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="pure-u-1 pure-u-sm-1-1 pure-u-md-1-1 ">
            <div class="list-new-item">
                <div class="list-item-title">
                    <a href="#">
                        商品标题商品标题商品标题商品标题商品标题商品标题
                        <span style="float:right;">2016 08-08</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="pure-g list-page">
        <ul class="pure-paginator">
            <li><a class="pure-button pure-button-primary" href="#">«</a></li>
            <li><a class="pure-button" href="#">1</a></li>
            <li><a class="pure-button pure-button-primary pure-button-active" href="#">2</a></li>
            <li><a class="pure-button " href="#">3</a></li>
            <li><a class="pure-button" href="#">4</a></li>
            <li><a class="pure-button pure-button-active" href="#">5</a></li>
            <li><a class="pure-button " href="#">»</a></li>
        </ul>
    </div>
</div>