@{
    Layout = "~/Themes/Default/Views/Shared/_StoreLayout.cshtml";
}
<div class="pure-u-1 pure-u-md-1 detail">
    <div class="pure-g user-main">
        <div class="pure-u-1 pure-sm-1 pure-u-md-1-6 ">
            <div class="user-nav">
                <div class="pure-menu">
                    <span class="pure-menu-heading">账号设置</span>
                    <ul class="pure-menu-list">
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link user-nav-select">我的信息</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">账号绑定</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">安全设置</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">我的订单</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">头像管理</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">意见反馈</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">退出</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="pure-u-1 pure-sm-1 pure-u-md-5-6">
            <div class="user-content">
                <!--form begin-->
                <form class="pure-form pure-form-stacked">
                    <fieldset>
                        <legend>Legend</legend>

                        <label>First Name</label>
                        <input type="text">

                        <label>Password</label>
                        <input type="password">

                        <label>E-Mail</label>
                        <input type="email" required="">
                        <aside class="pure-help-inline">This is a required field.</aside>

                        <label>City</label>
                        <input type="text">
                        <aside class="pure-form-message">This is another required field.</aside>

                        <label>State</label>
                        <select class="pure-input-medium">
                            <option>AL</option>
                            <option>CA</option>
                            <option>IL</option>
                            <option>MD</option>
                            <option>NY</option>
                        </select>

                        <label>Color</label>
                        <input type="color">

                        <label class="pure-checkbox">
                            <input type="checkbox"> I've read the terms and conditions
                        </label>

                        <button type="submit" class="pure-button notice">Submit</button>
                        <button type="reset" class="pure-button">Reset</button>
                    </fieldset>
                </form>
                <!--form end-->
            </div>
        </div>
    </div>
</div>