@{
    Layout = "~/Themes/Default/Views/Shared/_StoreLayout.cshtml";
}

<div class="pure-u-1 pure-u-md-1 detail">
    <div class="pure-g user-main">
        <div class="pure-u-1 pure-sm-1 pure-u-md-1">
            <div class="user-content">
                <!--form begin-->
                <form class="pure-form user-login">
                    <fieldset class="pure-group">
                        <input type="text" class="pure-input-1" placeholder="邮箱/手机号">
                        <input type="text" class="pure-input-1" placeholder="密码">
                    </fieldset>
                    <button type="button" class="pure-button pure-input-1 pure-button-primary">登录</button>
                </form>
                <!--form end-->
            </div>
        </div>
    </div>
</div>
