<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>母板页</title>
    <link href="/Content/PureUI/pureplus-min.css" rel="stylesheet" />
    <link href="/Content/Font-Awesome-4.5.0/css/font-awesome.css" rel="stylesheet" />
    <link href="/Content/Store/css/base.css" rel="stylesheet" />
</head>
<body class="pure-family">
    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1">
            <div class="pure-g">
                <div class="pure-u-1 pure-u-md-1 nav-top">
                    <a class="pure-button pure-button-primary" style="float: left;" href="">欢迎访问 Store</a>
                    <a class="pure-button pure-button-red" style="float: right;" href="">登录</a>
                </div>
                <div class="pure-u-1 pure-u-md-1 head-content ">
                    <div class="pure-g head-top">
                        <div class="pure-u-1 pure-u-md-1 pure-u-lg-1-4">
                            <div style="font-size: 2em;margin:0.1em;text-align: center; ">logo shop</div>
                        </div>
                        <div class="pure-u-1 pure-u-md-1 pure-u-lg-3-4">
                            <form class="pure-form pure-search " action="#" method="get">
                                <input type="text" name="k" placeholder="输入你的关键字">
                                <button type="submit" class="pure-button pure-button-primary">搜索</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!--nav begin-->
                <div class="pure-u-1 pure-u-md-1">
                    <!--导航菜单-->
                    <div class="pure-menu pure-menu-horizontal pure-menu-center nav">
                        <ul class="pure-menu-list">
                            <li class="pure-menu-item pure-menu-selected">
                                <a href="/Store/Index" class="pure-menu-link">首页</a>
                            </li>
                            <li class="pure-menu-item">
                                <a href="#" class="pure-menu-link">购物指南</a>
                            </li>
                            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                                <a href="#" id="menuLink1" class="pure-menu-link">商品分类</a>
                                <ul class="pure-menu-children">
                                    <li class="pure-menu-item">
                                        <a href="#" class="pure-menu-link">饮 料</a>
                                    </li>
                                    <li class="pure-menu-item">
                                        <a href="#" class="pure-menu-link">烟 酒</a>
                                    </li>
                                    <li class="pure-menu-item">
                                        <a href="#" class="pure-menu-link">零 食</a>
                                    </li>
                                    <li class="pure-menu-item">
                                        <a href="#" class="pure-menu-link">生活用品</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="pure-menu-item">
                                <a href="/Store/Cat" class="pure-menu-link">Cat</a>
                            </li>
                            <li class="pure-menu-item">
                                <a href="/Store/Info" class="pure-menu-link">Info</a>
                            </li>
                            <li class="pure-menu-item">
                                <a href="/Store/Item" class="pure-menu-link">Item</a>
                            </li>
                            <li class="pure-menu-item">
                                <a href="/Store/List" class="pure-menu-link">List</a>
                            </li>
                            <li class="pure-menu-item">
                                <a href="/Store/New_List" class="pure-menu-link">New_List</a>
                            </li>
                            <li class="pure-menu-item">
                                <a href="/Store/User_Form" class="pure-menu-link">User_Form</a>
                            </li>
                            <li class="pure-menu-item">
                                <a href="/Store/User_Index" class="pure-menu-link">User_Index</a>
                            </li>
                            <li class="pure-menu-item">
                                <a href="/Store/User_Login" class="pure-menu-link">User_Login</a>
                            </li>
                            <li class="pure-menu-item">
                                <a href="/Store/User_Reg" class="pure-menu-link">User_Reg</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--nav end-->
                @RenderBody()
            </div>
        </div>
        <div class="pure-u-1 pure-u-md-1">
            <div class="footer">
                Copyright 2016. author fourone
            </div>
        </div>
    </div>
    <script type="text/javascript">
        console.info('   _     _     _     _     \n'
	+ ' /\' \\  /\' \\  /\' \\  /\' \\    \n'
	+ '/\\_, \\/\\_, \\/\\_, \\/\\_, \\   \n'
	+ '\\/_/\\ \\/_/\\ \\/_/\\ \\/_/\\ \\  \n'
	+ '   \\ \\ \\ \\ \\ \\ \\ \\ \\ \\ \\ \\ \n'
	+ '    \\ \\_\\ \\ \\_\\ \\ \\_\\ \\ \\_\\\n'
	+ '     \\/_/  \\/_/  \\/_/  \\/_/\n');
        console.info('1111 荣誉出品 联系方式QQ:702295399 QQ群:110826636 ');
    </script>

    @if (IsSectionDefined("JavaScript"))
    {
        @RenderSection("JavaScript", false)
    }
</body>
</html>
