<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!--Autofac配置-->
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
  </configSections>

  <connectionStrings>
    <!--MSSQL-->
    <add name="MSSQLString" connectionString="Data Source=.;Initial Catalog=CactusDB;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--MySQL-->
    <add name="MySQLString" connectionString="server=127.0.0.1;database=cactusdb;user id=root;password=root;" providerName="MySql.Data.MySqlClien" />
    <!--PGSQL-->
    <add name="PGSQLString" connectionString="Server=127.0.0.1;Port=5432;User Id=postgres;Password=root;Database=cactusdb;Encoding=UTF8" providerName="MySql.Data.MySqlClien" />
    <!--SQLite 如果在Linux上发布需要改成Linux上的路径-->
    <add name="SQLiteString" connectionString="..\DB\cactusdb.db" />
    <!--文件缓存路径 如果在Linux上发布需要改成Linux上的路径-->
    <add name="filecache" connectionString="..\filecache\" />
    <!--数据源：MySQL MSSQL SQLite PGSQL-->
    <add name="sqltype" connectionString="MyType" />
  </connectionStrings>
  <appSettings configSource="Configuration\AppSettings.config" />
  <autofac configSource="Configuration\autofac.config" />

  
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <!--MVC引用的dll需要注意-->
    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>
    <!--自定义站点错误信息 On|Off 默认关闭 部署后需要开启-->
    <customErrors mode="Off" defaultRedirect="/Error/Page404">
      <error redirect="/Error/Page404" statusCode="404" />
      <error redirect="/Error/Page500" statusCode="500" />
    </customErrors>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <!--如下是内置memorycache的配置-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>